@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.RandomSpace {
    border-radius: 11px;
    border-width: 2px;
    padding: 8px 6px;
    color: #000000;
    font-weight: bolder;
    margin: 1.5em;
    cursor: pointer;
}

* {
    font-family: 'Poiret One';
    font-size: large;
}